= content_for :body do
  = haml(:navbar, :layout => false)
  %section#header.dark
    %header
      %h1 #{site_name}
      %p #{site_description}
    %footer
      %a.button.scrolly{href: "#about", :onclick => "ga('send', 'event', 'v2', 'Clicked #{header_button_text}');"} #{header_button_text}
  %section#about.main
    %header
      .container
        %h2 Welcome to my portfolio
        %h3 Development | Live Experiences | Music
        %p
          By day, I work as a web application developer.
          By night, I direct immersive live experiences and hack
          away at interesting projects.
          %br/
          I believe technology can help create communities
          where we can find common ground and collaborate for our mutual betterment.
          %br/
          To view my resume or work experience,
          %a{:href => "http://www.linkedin.com/in/nrgreen", :target => "_blank", :onclick => "ga('send', 'event', 'v2', 'Clicked LinkedIn from About Section');"} hop over to my LinkedIn.
    .content.dark.style1.featured
      .container
        .row
          .4u
            %section
              %span.feature-icon
                %span.fa.fa-code
              %a.scrolly{:href => "#second"}
                %header
                  %h3 Full-stack Development
              %p
                I work in a variety of environments and languages, including Ruby on Rails and Node.
                I like focusing on projects that allow intersections between digital and physical spaces.
                To me, programming is a tool for solving real-world problems.
                I am fascinated by the idea that technology can be a force for change.

          .4u
            %section
              %span.feature-icon
                %span.fa.fa-group
              %a.scrolly{:href => "#third"}
                %header
                  %h3 Live Experiences
              %p
                I work as a director, deviser, and experience-maker in Chicago.
                I have a background in collaboratively created physical theater.
                I believe immersive experiences can be powerful and transformative.
                In a world of 2D media, live experiences are uniquely situated to subvert
                the cultural dominance of mediatized forms.
          .4u
            %section
              %span.feature-icon
                %span.fa.fa-music
              %a.scrolly{:href => "#fourth"}
                %header
                  %h3 Music
              %p
                I've played guitar in jazz combos, rock bands, and word-beat bands.
                I've played percussion in Brazilian Samba and Indonesian Gamelan ensembles.
                I've sang in choirs, and studied West African percussion, as well as classical, and jazz guitar.
                In college, I concentrated in electronic music composition.
        .row
          .12u
            %footer
              %a.button.scrolly{href: "#second"} Some examples of my work...
  %section#development.main
    %header
      .container
        %h2 Application Development
        %h3 Kanari | Crime Scene Chicago | FM Curves
        %p
          I'm interested in how technology can be a tool for dissolving boundaries between mediums.
          How can technology enable fluidity that results in unexpected communities and connection?
          How can technology enable new modes of discovery and understanding?
          %br/
    .content.dark.style3.dev
      .container
        #devcarousel.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#devcarousel"}
            %li{"data-slide-to" => "1", "data-target" => "#devcarousel"}
            %li{"data-slide-to" => "2", "data-target" => "#devcarousel"}
          .carousel-inner
            .item.active
              = haml(:kanari, :layout => false)
            .item
              = haml(:crime, :layout => false)
            .item
              = haml(:fm, :layout => false)
        %a.left.carousel-control{"data-slide" => "prev", href: "#devcarousel"}
          %span.fa.fa-angle-left
        %a.right.carousel-control{"data-slide" => "next", href: "#devcarousel"}
          %span.fa.fa-angle-right
        %footer
          .row
            .6u
              %a.button.scrolly{href: "#experience", :onclick => "ga('send', 'event', 'v2', 'Clicked Next Live Experience');"} Next: Live Experience
            .6u
              %a.more.alt.button{"data-slide" => "next", href: "#devcarousel", :onclick => "ga('send', 'event', 'v2', 'Clicked More Development');"}
                More development
                &nbsp;
                %span.fa.fa-angle-double-right
  %section#experience.main
    %header
      .container
        %h2 Live Experience Design
        %h3 After Dark | Late Edition | Our Last Night on Earth
        %p
          There's nothing more powerful than direct experience. I love collaboratively creating unique, original experiences.
          I'm interested in how technology can inform or enhance storytelling and create new connections between creators, performers, and audience members.
          I'm a company member of Chicago's
          %a{:href => "http://www.collaboraction.org", :target => "_blank", :onclick => "ga('send', 'event', 'v2', 'Clicked Collaboraction');"} Collaboraction,
          where I do a lot of interesting work. I also used to run an ensemble-based physical theatre company called
          %a{:href => "http://www.fishandbicylce.come", :target => "_blank", :onclick => "ga('send', 'event', 'v2', 'Clicked Fish and Bicycle');"} Fish & Bicylce.
    .content.dark.style2.exp
      .container
        #expcarousel.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#expcarousel"}
            %li{"data-slide-to" => "1", "data-target" => "#expcarousel"}
            %li{"data-slide-to" => "2", "data-target" => "#expcarousel"}
          .carousel-inner
            .item.active
              = haml(:afterdark, :layout => false)
            .item
              = haml(:late_edition, :layout => false)
            .item
              = haml(:olnoe, :layout => false)
        %a.left.carousel-control{"data-slide" => "prev", href: "#expcarousel"}
          %span.fa.fa-angle-left
        %a.right.carousel-control{"data-slide" => "next", href: "#expcarousel"}
          %span.fa.fa-angle-right

        %footer
          .row
            .6u
              %a.button.scrolly{href: "#music", :onclick => "ga('send', 'event', 'v2', 'Clicked Next Music');"} Next: Music
            .6u
              %a.more.alt.button{"data-slide" => "next", href: "#expcarousel", :onclick => "ga('send', 'event', 'v2', 'Clicked More Experience Design');"}
                More Experience Design
                &nbsp;
                %span.fa.fa-angle-double-right
  %section#music.main
    %header
      .container
        %h2 Music
        %h3 Tibetan Book of the Dead | Electronic Music Composition | Funky Hot Grits
        %p
          As a musician, I'm interested in intersections between performance and technology. How can music enable community and collaboration?
          How is music both culturally specific and universal? I'm deeply interested in the music traditions of other cultures and how music plays a part in ceremony and ritual.
          How can modern modes of music-making engender liminal spaces and transformative experiences?
          %br/
    .content.dark.style2.music
      .container
        #musiccarousel.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#musiccarousel"}
            %li{"data-slide-to" => "1", "data-target" => "#musiccarousel"}
            %li{"data-slide-to" => "2", "data-target" => "#musiccarousel"}
          .carousel-inner
            .item.active
              = haml(:tibet, :layout => false)
            .item
              = haml(:composition, :layout => false)
            .item
              = haml(:fhg, :layout => false)
        %a.left.carousel-control{"data-slide" => "prev", href: "#musiccarousel"}
          %span.fa.fa-angle-left
        %a.right.carousel-control{"data-slide" => "next", href: "#musiccarousel"}
          %span.fa.fa-angle-right
        %footer
          .row
            .6u
              %a.button.scrolly{href: "#about", :onclick => "ga('send', 'event', 'v2', 'Clicked Back to Top');"} Back to top
            .6u
              %a.more.alt.button{"data-slide" => "next", href: "#musiccarousel", :onclick => "ga('send', 'event', 'v2', 'Clicked More Music');"}
                More Music
                &nbsp;
                %span.fa.fa-angle-double-right
